/* General */

* {
  margin: 0px;
  padding: 0px;
}

/* Header */

header {
  display: flex;
  position: fixed;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  z-index: 1;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
  flex-grow: 1;
}

.logo img {
  margin-right: 12px;
}

.logo span {
  color: MediumAquamarine;
}

header nav {
    padding-right: 40px;
}

nav a {
  color: black;
}

/* Main content */

div {
  border: 1px solid black;
}

h2, p {
  margin-top: 20px;
  margin-bottom: 15px;
}

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.content {
  display: flex;
  justify-content: space-between;
  padding-top: 116px;

}

.column {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.image-heading {
  display: flex;
  justify-content: center;
  height: 300px;
  background-repeat: no-repeat;
}

.image-heading span {
font-family: Georgia;
font-weight: bold;
font-size: 30px;
color: white;
}

.story-main{
  background-image: url("../images/img-story-main.png");
}

.story-main span {
  font-size: 40px;
}

.story1 {
  background-image: url("../images/img-story-1.png");
}

.story2 {
  background-image: url("../images/img-story-2.png");
}

.story3 {
  background-image: url("../images/img-story-3.png");
}
